services:
  grobid:
    image: lfoppiano/grobid:0.7.0
    ports:
      - "8080:8070"
    environment:
      - EX=00
    networks:
      - summarticles-network

  # ollama:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.ollama
  #   image: ollama
  #   container_name: ollama
  #   # env_file: env
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ./ollama:/root/.ollama
  #   pull_policy: always
  #   tty: true
  #   restart: always
  ollama:
    image: docker.io/ollama/ollama:latest # http://host.docker.internal:7869
    ports:
      - 7869:11434
    volumes:
      - .:/code
      - ./ollama/ollama:/root/.ollama
    # command: >
    #   ollama pull qwen3:0.6b &&
    #   ollama pull deepseek-r1:1.5b &&
    #   ollama serve &&
    #   ollama run qwen3:0.6b &&
    #   ollama run deepseek-r1:1.5b
    container_name: ollama
    pull_policy: always
    tty: true
    restart: always
    environment:
      - OLLAMA_KEEP_ALIVE=24h
      - OLLAMA_HOST=0.0.0.0
    networks:
      - summarticles-network

  summarticles:
    build: .
    ports:
      - 8501:8501
    volumes:
      - .:/data
    restart: always
    depends_on:
      - grobid
      - ollama
    networks:
      - summarticles-network

  # qdrant:
  #   image: qdrant/qdrant
  #   container_name: qdrant
  #   ports:
  #     - "6333:6333"
  #   volumes:
  #     - qdrant_data:/qdrant/storage
  #   networks:
  #     - summarticles-network

networks:
  summarticles-network:
    driver: bridge 